html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    background-color: #C0DAE5;

}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 48px;
    line-height: 64px;
    color: #18191F;
}

.site-header {
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-color: #fff;
}

.sitenav {

}

.container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.sitenav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 16px;
}

.sitenav-container img{
    display: block;
}

.sitenav-left {
    max-width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-right {
    width: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-list {
    list-style: none;
    display: flex;
}

.sitenav-item {
    margin-left: 32px;
}

.sitenav-link {
    text-decoration: none;
    color: #18191F;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.6s ease;
}

.sitenav-link:hover {
    color: #8C30F5;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 153px;
}

.header-phone {
    position: relative;
    top: 96px;
    width: 350px;
    height: 640px;
    background-image: url(../images/iphone-border.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-phone img {
    width: 279px;
    height: 604px;
    border-radius: 35px;
    
}

.header-content {
    position:relative;
    top: -40px;
}

.header-content h1 {
    font-size: 72px;
    line-height: 72px;
    color: #18191F;
}

.header-content h1:last-child {
    margin-bottom: 42px;
}

.button-primary {
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: #8C30F5;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.6s ease;

}

.button-primary:hover {
    background-color: #18191F;
}

.logo-clouds {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.logo-clouds-container {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo-clouds-container2{
    display: flex;
    flex-direction: row;
    padding-top: 57px;
    padding-bottom: 57px;
}

.logo-clouds-container::before {
    display: block;
    width: 1110px;
    height: 1px;
    content: "";
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.logo-clouds-container::after {
    display: block;
    width: 1110px;
    height: 1px;
    content: "";
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);

}

.logo-clouds .logo-clouds-link {
    margin-left: 64px;
    transition: all 1s ease;
}

.logo-clouds .logo-clouds-link:hover img {
    width: 120%;
    height: 110%;
}

.logo-clouds .logo-clouds-link img {
    display: block;
}


/* START FEATURES  */

.features {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #fff;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.faeture-title-description {
    
    margin-bottom: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 800;
    color: #18191F;
}

.faeture-title-description p {
    margin-top: -30px;
    width: 540px;
    color: #18191F;
    font-size: 18px;
    line-height: 32px;
}

.feature-list-firstlist {
    display: flex;
    list-style: none;
    text-align: center;
}

.feature-list-firstlist .feature-list-item::before {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 32px;
    height: 32px;
    content: "";

}

.feature-list-firstlist .feature-list-item:nth-child(1)::before {
    background-image: url(../images/feature-list-1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-firstlist .feature-list-item:nth-child(2)::before {
    background-image: url(../images/feature-list-2.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-firstlist .feature-list-item:nth-child(3)::before {
    background-image: url(../images/feature-list-3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-secondlist .feature-list-item::before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    content: "";

}

.feature-list-secondlist .feature-list-item:nth-child(1)::before {
    background-image: url(../images/feature-list-4.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-secondlist .feature-list-item:nth-child(2)::before {
    background-image: url(../images/feature-list-5.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-secondlist .feature-list-item:nth-child(3)::before {
    background-image: url(../images/feature-list-6.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feature-list-secondlist {
    display: flex;
    list-style: none;
    text-align: center;
}

.feature-list-item-title {
    font-size: 24px;
    line-height: 32px;
    color: #18191F;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #18191F;
}

.text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: #18191F;
}


/* TESTIMONIAL */

.testimonial {
    background-color: #D5FAFC;
    height: 900px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.testimonial .container {
    background-image: url(../images/quote.svg);
    background-repeat: no-repeat;
    background-position: 0 64px;
}

.testimonial-container {
    padding-top: 120px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 80px;
    position: relative;
}

.testimonial-title {
    margin: 0;
    margin-bottom: 8px;
    width: 445px;
}

.testimonial-card {
    padding: 31px;
    background-color: #fff;
    border-radius: 8px;
}

.testimonial-firstcard::before {
    width: 140px;
    height: 40px;
    margin-bottom: 32px;
    display: flex;
    justify-content: start;
    content: "";
    background-image: url(../images/hubspot-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial-firstcard {
    width: 350px;
    position: absolute;
    top: 312px;
    left: 190px;
    margin-top: 24px;
}

.first{
    background-image: url(../images/small-quote.svg);
    background-repeat: no-repeat;
    padding-left: 32px;
}

.testimonial-secondcard {
    width: 445px;
    position: absolute;
    top: 168px;
    right: 95px;
}

.testimonial-thirdcard {
    width: 350px;
    position: absolute;
    top: 540px;
    right: 190px;
}

.first .text {
    line-height: 32px;
}

.people-name {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #18191F;
    margin-top: 24px;
    margin-bottom: 0;
}

.people-position {
    font-size: 14px;
    line-height: 24px;
    color: #969BAB;
}

/* STATS  */

.stats .container {
    display: flex;
    justify-content: space-between;
}

.stats-description {
    max-width: 540px;
}

.stats-counts {
    width: 540px;
    display: flex;

}

.stats {
    max-width: 1440px;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.stats-description-title {
    margin-bottom: 8px;
}

.stats-description .text {
    width: 450px;
    margin-top: 0px;
}

.stats-counts-firstlist {
    list-style: none;   
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.stats-counts-secondlist {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: start;
}

.stats-count-item {
    
}

.stats-counts {
    /* border: 1px solid red; */
}

.stats-counts-firstlist .stats-count-item:nth-child(1){
    background-image: url(../images/feature-list-1.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 56px;
}

.stats-counts-firstlist .stats-count-item:nth-child(2){
    background-image: url(../images/feature-list-4.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 56px;
}

.stats-counts-secondlist .stats-count-item:nth-child(1){
    background-image: url(../images/feature-list-5.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 56px;
}

.stats-counts-secondlist .stats-count-item:nth-child(2){
    background-image: url(../images/last-icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 56px;
}

.stats-counts-list-title {
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    font-weight: 800;
}

.stats-count-item .text {
    margin-top: -30px;
}


/* FIRST SINGLE FEATURE  */

.firstsingle-feature {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #fff;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

}

.firstsingle-feature .container {
    display: flex;
    justify-content: space-between;
}

.firstsingle-feature-image {
    width: 540px;
    height: 540px;
    background-image: url(../images/iphoneX.svg);
    background-repeat: no-repeat;
    background-position: 70px 40px;
    background-color: #F1E4FF;
}

.firstsingle-feature-content {
    width: 540px;
    margin-top: 100px;
    margin-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px;

}

.firstsingle-feature-content-title {
    margin-bottom: 32px;
    font-size: 40px;
    line-height: 54px;
    font-weight: 800;
    color: #18191F;
}

.firstsingle-feature-link {
    padding-right: 31px;
    background-image: url(../images/vector.svg);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #8C30F5;
    text-decoration: none;
    transition: all 0.6s ease;
}

/* SECOND SINGLE FEATURE  */

.secondsingle-feature {
    background-color: #fff;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.secondsingle-feature .container {
    padding-top: 64px;
    padding-bottom: 64px;

}

.secondsingle-feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;    
}

.secondsingle-feature-title {
    width: 540px;
}

.secondsingle-feature-text {
    width: 540px;
}

/* START MANAGE */

.manage {
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2EC5CE;
}

.manage .container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.manage-left {
    width: 540px;
}

.manage-left-icons {
    width: 282px;
    display: flex;
    justify-content: space-between;
}

.manage-left .text {
    margin-bottom: 48px;
    margin-top: -20px;
}

.manage-left-get {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #18191F;
}

.manage-left-link img {
    display: block;
}

.manage-fistphone {
    position: absolute;
    top: 0;
    left: 719px;
    width: 232px;
    height: 341px;
    background-image: url(../images/first-phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.manage-secondphone {
    position: absolute;
    bottom: 0;
    right: 175px;
    width: 242px;
    height: 400px;
    background-image: url(../images/second-phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    max-width: 1440px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.footer .container {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-section::before {
    width: 32px;
    height: 32px;
    display: flex;
    content: "";
    background-image: url(../images/logo-color.svg);
    background-repeat: no-repeat;
}

.footer-left-section {
    width: 555px;
}

.footer-left-section .links {
    display: flex;
    flex-direction: column;
}

.footer-left-section ul {
    display: flex;
    list-style: none;
    margin-left: -38px;
}

.footer-left-section ul:last-child {
    margin-top: 12px;
    margin-bottom: 24px;
}

.footer-item {
    margin-right: 24px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.footer-download-badges {
    width: 160px;
}
.footer-download-get {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.footer-right-link img {
    margin-top: 17px;
}

.footer-text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #D9DBE1;
}